:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --game-board-color: #bdbdbd;
  --snake-body-color: #4caf50;
  --snake-head-color: #388e3c;
}

$laptop-width: 1440px;
$tablet-width: 768px;
