.header {
  height: 90px;
  padding: 5px;
}

.header__container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.parameter {
  height: min-content;
  padding: 5px;
  border: 1px solid var(--snake-body-color);
  border-radius: 3px;
}

.parameter__text {
  margin: 0;
}

.parameter__number {
  display: inline-block;
  width: 35px;
  padding: 5px;
  border-radius: 3px;
  color: var(--basic-white);
  text-align: center;
  background-color: var(--snake-body-color);
}
