.main {
  display: flex;
  justify-self: center;
  max-width: 100%;
  overflow-x: hidden;
}

#game-board {
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  width: calc(100vmin - 190px);
  min-width: 300px;
  height: calc(100vmin - 190px);
  min-height: 300px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--game-board-color);
}

.snake {
  // border: 0.25vmin solid black;
  background-color: var(--snake-body-color);
}

.snake__head {
  background-color: var(--snake-head-color);
}

.food {
  background-image: url("../img/food/food-4.svg");
  background-size: contain;
}
