.sound-button {
  display: block;
  width: 50px;
  background-image: url("../img/volume-on-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--off {
    background-image: url("../img/volume-off-icon.svg");
  }
  outline: none;
  transition: opacity 200ms ease 0s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
