@charset "UTF-8";
@font-face {
  font-weight: 700;
  font-family: "Merriweather";
  font-style: normal;
  font-display: swap;
  src: local("Merriweather"), url("../fonts/merriweather-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/merriweather-v28-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-weight: 400;
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  src: local("Inter"), url("../fonts/inter-v7-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v7-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-weight: 700;
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  src: local("Inter"), url("../fonts/inter-v7-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/inter-v7-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --basic-white: #ffffff;
  --basic-white-to-special: #ffffff;
  --basic-black: #000000;
  --basic-black-to-special: #000000;
  --basic-black-const: #000000;
  --basic-black-a50: rgb(0 0 0 / 50%);
  --special: #bdae82;
  --special-to-white: #bdae82;
  --special-to-black: #bdae82;
}

:root.page--light-theme {
  --basic-white: #1c1c1c;
  --basic-black: #ffffff;
  --basic-black-a50: rgb(255 255 255 / 50%);
  --basic-white-to-special: #bdae82;
  --special-to-white: #ffffff;
  --special-to-black: #1c1c1c;
  --basic-black-to-special: #bdae82;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
  color: var(--basic-black);
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 36px;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  /* чтобы картинка не стала больше чем её контейнер */
  height: auto;
  /* картинка сохраняет пропорции */
  vertical-align: top;
}

button {
  padding: 0;
  border: none;
  /* в норме есть обводка */
  font: inherit;
  /* в норме monospace */
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 64px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}

.button {
  position: relative;
  display: block;
  width: 220px;
  padding: 9px;
  overflow: hidden;
  color: var(--basic-black-const);
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: var(--special);
  cursor: pointer;
  transition: color 200ms ease 0s, background-color 200ms ease 0s, border-color 200ms ease 0s;
}
.button:hover, .button:focus {
  color: var(--basic-white-to-special);
  background-color: var(--special-to-black);
}
@media (max-width: 550px) {
  .button {
    width: 180px;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 360px) {
  .button {
    font-size: 16px;
    line-height: 26px;
  }
}

.logo {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 450px) {
  .logo {
    display: none;
  }
}

.header {
  height: 90px;
  padding: 5px;
}

.header__container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.parameter {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 5px;
  border: 1px solid #72c888;
  border-radius: 3px;
}

.parameter__text {
  margin: 0;
}

.parameter__number {
  display: inline-block;
  padding: 5px;
  background-color: #72c888;
}

.modal {
  position: absolute;
  top: 20px;
  left: 50%;
  display: none;
  max-width: 320px;
  padding: 20px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transform: translateX(-50%);
}
.modal--open {
  display: block;
}

.main {
  display: flex;
  justify-self: center;
  max-width: 100%;
  overflow-x: hidden;
}

#game-board {
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  width: calc(100vmin - 190px);
  min-width: 300px;
  height: calc(100vmin - 190px);
  min-height: 300px;
  background-color: #cccccc;
}

.snake {
  border: 0.25vmin solid black;
  background-color: #238f23;
}

.food {
  border: 0.25vmin solid black;
  background-color: #f19e17;
}

.modal__table {
  max-width: 800px;
}

.modal__box {
  display: flex;
  justify-content: space-between;
}

.table {
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
}

.footer {
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 500px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

.footer__copyright {
  display: flex;
  margin-right: 15px;
  font-size: 20px;
  line-height: 50px;
  list-style: none;
  transition: color 200ms ease 0s;
}
.footer__copyright span + span {
  margin-left: 5px;
}

.footer__github-link {
  margin-left: 10px;
}
.footer__github-link:hover, .footer__github-link:focus {
  color: var(--special);
}

.footer__school-link {
  font-size: 20px;
  line-height: 50px;
  transition: opacity 200ms ease 0s;
}
.footer__school-link:hover, .footer__school-link:focus {
  opacity: 0.7;
}